<%# Write your code here! %>
<h1>Welcome !</h1>
<h2>If you tell me your name, I can say hi!</h2>

<form action="/greet" method="post">
  <lable for="user_name">Name</lable>
  <input name="user_name" id="user_name" type="text">
  <input type="submit">
</form>